<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
 
<h2>Registros</h2>
  <table border="1">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td>Data de cadastro</td>
            <td>Cor</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(function(details) { %>
        <tr>
            <td><%= details.nome %></td>
            <td>R$<%= details.preco %></td>
            <td><%= details.quantidade %></td>
            <td><%= details.data %></td>
            <td><%= details.cor %></td>
            <td><a href="/editProduto/<%= details._id %>">Editar</a> - <a href="/deleteProduto/<%= details._id %>">Deletar</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button><a href="/">Novo</a></button>
</body>
</html>